.info-card{
    height: 15vh;
    width: 90vw;
    display:flex;
    justify-content: space-evenly;
    flex-direction: row;
    align-items: center;
    background-color: azure;
}

.main-div{
    margin-bottom: 30px;

}
.description{
    display: flex;
    background-color: azure;
    width: 90vw;
    flex-direction: column;
    row-gap: 12px;
    align-items: center;
    padding-bottom: 18px;

}
.bold-words{
    font-weight: bold;
}

.btn{
    font-size: large;
    background-color: cadetblue;
    border-radius: 50px;
}

